
p {
    font-size: 20px;
}

h1 {
    color: #1e4a58;
    font-size: 50px;
    margin-bottom: 2px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 40px;
    background-color: #e7f3f5;  
}

.sections {
    background-color: #88c7da;
    padding: 20px;
    border: 1px solid #000000cc;
    margin: 10px;
    border-radius: 20px;
}

#grid-sections {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns:subgrid;
}

.texto-pixel {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #1e4a58;
}

#profissao {
    color: #3a8da6;
}

#texto-principal {
    color: black;
}

#tabela-links {
    border: 1px solid #1e4a58;
    padding: 5px;
}

.imagens-links {
    width: 32px;
    height: auto;
    margin-right: 10px;
}
